.main{
    display: grid;
    grid-template-columns: auto auto auto auto;

}

.body{
    width: 300px;
    height: 300px;
}

.Picture{
    width: 300px;
    height: 250px;
}
.content{
    position: relative;
    background-color: yellow;
    color:blue;
    height: auto;   
}
.floating-btn{
position: absolute;
top: 4px;
left: 0;
}